Makefile
Makefile.in
*.lo
*.in
*.pyc
aclocal.m4
config.guess
config.h
config.log
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
py-compile
autom4te.cache
config.status
.deps
.libs
INSTALL